*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    overflow-x: hidden;
}

body, html{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    min-height: 100px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.search-section{
    width: 100%;
    height: 70px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-section .search-city{
    background-color: rgba(0,0,0,0.5);
    border: none;
    outline: none;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    color: aliceblue;
}

.search-city::placeholder{
    color: rgb(157, 160, 162);
}
.search-section .search-btn{
    background-color: transparent;
    outline: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.search-section .search-btn:hover{
    background-color: rgba(244, 243, 243, 0.7);
}


.search-section .search-btn img{
    width: 35px;    
    height: 35px;
}

.error{
    display: none;
    color: aliceblue;
}

.error p{
    font-size: 25px;
    font-weight: 600;
    
}

.weather-img-container{
    width: 100%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-img-container img{
    width: 200px;
}

.temperature, .city{
    margin: auto;
    font-size: 70px;
    color: aliceblue;
    font-weight: 600;
}

.details{
    width: 100%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: aliceblue;
}

.details .humidity-details{
    width: 50%;
    height: auto;
    display: flex;
    /* justify-content: space-around; */
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.details .humidity-details img{
    width: 50px;
}

.details .humidity-details p{
    font-size: 30px;
}

.details .wind-details{
    width: 50%;
    height: auto;
    display: flex;
    /* justify-content: space-around; */
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.details .wind-details img{
    width: 50px;
}

.details .wind-details p{
    font-size: 30px;
}

.weather-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
}